* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(227, 241, 249);
    font-family: sans-serif;
}

.header {
    width: 100%;
    background: #111A29;
}

.wrapper {
    position: relative;
    min-height: 100%;
}
.big {
    color: #fff;
    height: 200px;
    width: 100%;
    background: #111A29;
    background: url("header-bg.jpg") no-repeat;
    background-position: right;
    display: table;
}
.all_big {
    vertical-align: middle;
    display: table-cell;
}
.b1 {
    text-transform: capitalize;
    font-size: 30px;
    padding-left: 250px;
}
.b2 {
    padding-left: 250px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
}
.b3 {
    text-transform: capitalize;
    font-size: 23px;
    padding-left: 250px;
}
.small {
    height: 50px;
    background: #bfd4de;
    display: table;
    width: 100%;
}
.all_small {
    padding-left: 350px;
    vertical-align: middle;
    display: table-cell;
    font-weight: 600;
    font-size: 21px;
    color: #364654;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    display: table;
    height: 100%;
    width: 100%;
}
.footer {
    height: 66px;
    background: #364654;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.vert-cont {
    vertical-align: middle;
    display: table-cell;
}
.copyright {
    float: left;
    color: #FFFFFF;
}

.links {
    float: right;
}

.links a {
    color: #fff;
    margin-right: 12px;
}
.main {
    width: 100%;
    padding-bottom: 70px;
}
.container.wrap {
    background: #FFFFFF;
    border-radius: 0 0 5px 5px;
    margin-bottom: 57px;
}
.wrap-title {
    padding: 43px 0 65px 54px;
    font-style: italic;
}
.forms {
    float: left;
    width: 50%;
}
form {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 67px;
    width: 100%;
}
label {
    float: left;
    text-align: right;
    width: 134px;
    margin-right: 15px;
    color: #364654;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
}

input, select {
    margin-bottom: 33px;
    box-sizing: border-box;
    width: 282px;
    height: 38px;
    float: left;
}
input[type="button"] {
    width: 154px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background: #364654;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
}